<h1>Stupid Coaching</h1>
<!-- <p>Find me in app/views/questions/answer.html.erb</p> -->

<div class="question">
<h3><%= @question %></h3>
<p class="human">-You</p>
</div>
<br>
<div class="question">
<h3><%= @answer %></h3>
<p class="human">-Your coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
