// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.human {
  font-style: italic;
}

.question {
  padding: 5px;
  border-left: 2px solid gray;
}
